
@{
    ViewBag.Title = "Home Page";
}
<style>
    #outPopUp {
  position: initial;
  width: 70%;
  height: 80%;
 
  background-image: url("../../image/mirum-logojpg.jpg")
}
</style>

<div id="outPopUp"></div>

