
@{
    ViewBag.Title = "Home Page";
}
<style>
    #outPopUp {
        position: relative;
        justify-content: center;
        align-items: center;
        display: flex;
    }

      .imagem {
          width: 50%;
          height: 50%;
      }
</style>

<div id="outPopUp">
    <img src="../../image/mirum-logojpg.jpg" title="aa" class="imagem" />
</div>

